# Frontend Environment Variables

# API Configuration - Update this URL to point to your backend
PUBLIC_API_BASE_URL=http://localhost:7070

# Environment
NODE_ENV=development

# Optional: API timeout (milliseconds)
PUBLIC_API_TIMEOUT=10000

# Optional: Debug mode
PUBLIC_DEBUG_MODE=false

# Witnes Tracking
PUBLIC_WITNES_PROJECT_KEY=pk_432e09e1a9664634b855638ac8592319
PUBLIC_WITNES_TRACKING_URL=http://localhost:4321/w.js
PUBLIC_WITNES_DEBUG_MODE=true